@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
:root {
  --moonmoon: rgb(130, 100, 200);
  --moonmoon_gradient: linear-gradient(100deg, rgba(170,75,198,1) 0%, rgba(116,64,253,1) 100%);
  --snow: url("../multimedia/snow-texture.png");
}

body {
  margin: 0 0 0 0;
  overflow-x: hidden;
  font-family: 'Poppins';
  min-height: 100vh;
  -ms-flex-line-pack: center;
      align-content: center;
}

body ul {
  list-style-type: none;
}

div.navbar.scrolled {
  background-color: rgba(255, 255, 255, 0.4);
  -webkit-box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2);
  -webkit-backdrop-filter: blur(16px);
          backdrop-filter: blur(16px);
}

div.navbar {
  padding: 0.4em;
  position: fixed;
  top: 0;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  width: 100%;
  background-color: rgba(255, 255, 255, 0);
  z-index: 999;
}

div.navbar div.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  place-content: space-between;
  margin-top: 0.5em;
}

div.navbar div.container div.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: .2em;
}

div.navbar div.container div.logo img.logo-img {
  width: 4em;
  padding: 0 1em;
}

div.navbar div.container div.logo img.logo-img:hover {
  cursor: pointer;
}

div.navbar div.container div.logo a.logo-text {
  text-decoration: none;
  font-weight: bold;
  color: black;
  font-size: 1.25em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  margin-bottom: 0.5em;
}

div.navbar div.container div.logo a.logo-text:hover {
  cursor: pointer;
}

div.navbar div.container img.mobile-nav-open {
  display: none;
}

div.navbar div.container nav {
  display: none;
  position: fixed;
  z-index: 999;
  width: 12.4em;
  right: 0;
  top: 0;
  background: var(--moonmoon);
  height: 100vh;
  padding: 1em;
}

div.navbar div.container nav img.mobile-nav-close {
  width: 2em;
  float: right;
  padding-right: 1.5em;
  padding-top: 1.2em;
  cursor: pointer;
}

div.navbar div.container nav ul.nav-list {
  margin-top: 5em;
}

div.navbar div.container nav ul.nav-list li a {
  color: white;
  text-decoration: none;
  display: block;
  padding: .5em;
  font-size: 1.25em;
  text-align: right;
}

div.navbar div.container nav ul.nav-list li a:hover {
  cursor: pointer;
}

div.hero-container {
  background-image: url("../multimedia/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 65% 65%;
  width: 100%;
  height: 100vh;
}

section.mod {
  background-image: var(--snow);
  width: 100%;
  height: calc(100vh - 92px);
}

section.mod div.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: calc(80vh - 92px);
  padding: 10vh 0 10vh 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

section.mod div.container h1 {
  font-size: 4.2em;
  margin: 0;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

section.mod div.container h1 span {
  background: var(--moonmoon_gradient);
  background-clip: text;
  -moz-background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

section.mod div.container div.mod-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section.mod div.container div.mod-content p {
  font-size: 1.65em;
  margin: 0;
  margin-left: 1.5em;
  max-width: 550px;
}

section.mod div.container div.mod-content p a {
  text-decoration: none;
  background: var(--moonmoon_gradient);
  background-clip: text;
  -moz-background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

section.mod div.container div.mod-content p a:hover {
  cursor: pointer;
}

section.mod div.container div.mod-content img {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  width: 42em;
}

section.mod div.container a.download-button {
  color: white;
  font-size: 2em;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
  background-image: var(--moonmoon_gradient);
  padding: 0.69em 2em;
  border-radius: 999em;
  width: 6em;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

section.socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: white;
  width: 100%;
  height: calc(100vh - 92px);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section.socials div.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: calc(80vh - 92px);
  padding: 10vh 0 10vh 0;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

section.socials div.container div.socials-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: inherit;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

section.socials div.container div.socials-links a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 1em;
  text-decoration: none;
}

section.socials div.container div.socials-links a img {
  width: 6em;
}

section.socials div.container div.socials-links a img.socials-youtube-img, section.socials div.container div.socials-links a img.socials-twitter-img {
  width: 5.2em;
  margin: 0.4em;
}

section.socials div.container div.socials-links a p {
  color: black;
  font-size: 1.5em;
  margin: 0;
  padding-left: 0.8em;
}

section.socials div.container div.socials-text {
  margin-right: 1em;
}

section.socials div.container div.socials-text h1 {
  margin: 0;
  font-size: 3.3em;
  font-weight: bold;
}

section.socials div.container div.socials-text h1 span {
  background: var(--moonmoon_gradient);
  background-clip: text;
  -moz-background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

section.socials div.container div.socials-text p {
  margin: 0;
  margin-right: 1.5em;
  text-align: right;
  font-size: 1.65em;
}

section.socials div.container div.socials-text p span {
  color: white;
}

section.donate {
  background-image: var(--snow);
  width: 100%;
  height: calc(96vh - 92px);
}

section.donate img {
  display: block;
  position: absolute;
  z-index: 0;
  width: 12em;
  -webkit-filter: invert(54%) sepia(20%) saturate(7383%) hue-rotate(226deg) brightness(83%) contrast(86%);
          filter: invert(54%) sepia(20%) saturate(7383%) hue-rotate(226deg) brightness(83%) contrast(86%);
  -webkit-transform: rotate(345deg);
          transform: rotate(345deg);
  margin-left: calc(20% - 12em);
  margin-top: 8vh;
}

section.donate div.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: inherit;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

section.donate div.container div.donate-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section.donate div.container div.donate-text h1 {
  display: inline;
  font-size: 3em;
  font-weight: bold;
  margin: 0;
}

section.donate div.container div.donate-text h1 span {
  background: var(--moonmoon_gradient);
  background-clip: text;
  -moz-background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

section.donate div.container div.donate-text p {
  font-size: 1.5em;
  text-align: center;
  margin: 0;
}

section.donate div.container div.donate-text p span {
  font-weight: bold;
  background: var(--moonmoon_gradient);
  background-clip: text;
  -moz-background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

section.donate div.container a.donate-button {
  color: white;
  font-size: 2em;
  font-weight: bold;
  text-decoration: none;
  background: var(--moonmoon_gradient);
  padding: 0.69em 2em;
  border-radius: 999em;
}

footer.signature {
  position: relative;
  background-image: var(--snow);
  margin: 0 0 0 0;
  width: 100%;
  height: 4vh;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

footer.signature p.signature-text {
  text-align: center;
  font-size: 1em;
  margin: 0;
  padding-top: .4em;
}

footer.signature p.signature-text a {
  text-decoration: none;
  color: var(--moonmoon);
  background: var(--moonmoon_gradient);
  background-clip: text;
  -moz-background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@media only screen and (max-width: 1095px) {
  section.mod {
    font-size: .6em;
    text-align: center;
  }
  section.mod div.container {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
  }
  section.mod div.container h1 {
    font-size: 3.3em;
    margin-bottom: .2em;
    margin-top: .4em;
  }
  section.mod div.container div.mod-content {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  section.mod div.container div.mod-content p {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    margin-bottom: 6em;
    margin-left: 0;
  }
  section.mod div.container div.mod-content img {
    display: none;
  }
  section.socials {
    font-size: .6em;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  section.socials div.container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    padding: 0;
    height: inherit;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  section.socials div.container div.socials-links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    height: 31vh;
  }
  section.socials div.container div.socials-links a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 49%;
    margin: 0;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  section.socials div.container div.socials-links a p {
    display: none;
  }
  section.socials div.container div.socials-text {
    margin: 0;
  }
  section.socials div.container div.socials-text p {
    text-align: center;
    font-size: 1.65em;
    margin: 0;
  }
  section.socials div.container div.socials-text h1 {
    font-size: 3.3em;
  }
  section.donate {
    font-size: .6em;
  }
  section.donate img {
    margin-top: 39vh;
    margin-left: calc(50% - 18em);
  }
  section.donate div.container div.donate-text h1 {
    font-size: 3em;
  }
  section.donate div.container div.donate-text p {
    font-size: 1.25em;
  }
  footer.signature {
    font-size: .9em;
  }
}

@media only screen and (max-width: 767px) {
  div.navbar div.container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  div.navbar div.container div.logo {
    margin: 0;
    margin-right: 1em;
  }
  div.navbar div.container div.logo a img.logo-img {
    padding-left: 0;
  }
}

@media only screen and (max-width: 419px) {
  section.mod div.container {
    padding: 0;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  section.mod div.container h1 {
    max-width: 90vw;
    margin-top: 4em;
  }
  section.mod div.container div.mod-content p {
    max-width: 90vw;
    margin-bottom: 2em;
  }
}

@media only screen and (min-width: 420px) {
  section.donate div.container div.donate-text p {
    font-size: 1.5em;
  }
}

@media only screen and (min-width: 768px) {
  img.mobile-nav-open, img.mobile-nav-close {
    display: none;
  }
  div.navbar div.container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 180px auto;
        grid-template-columns: 180px auto;
  }
  div.navbar div.container nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    background: none;
    position: unset;
    height: auto;
    width: 100%;
    padding: 0;
    margin-right: .5em;
  }
  div.navbar div.container nav ul.nav-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0;
  }
  div.navbar div.container nav ul.nav-list li a {
    font-size: 1em;
    padding: 0;
    margin: 0 1em .6em;
    text-align: center;
    background: black;
    background-clip: text !important;
    -moz-background-clip: text !important;
    -webkit-background-clip: text !important;
    -webkit-text-fill-color: transparent !important;
    cursor: pointer;
  }
  div.navbar div.container nav ul.nav-list li a:hover {
    background: var(--moonmoon_gradient) !important;
    background-clip: text !important;
    -moz-background-clip: text !important;
    -webkit-background-clip: text !important;
    -webkit-text-fill-color: transparent !important;
    cursor: pointer;
  }
  div.navbar div.container nav ul.nav-list li a:before {
    display: block;
    content: attr(alt);
    font-weight: bold;
    height: 0;
    overflow: hidden;
    visibility: hidden;
  }
  section.mod {
    font-size: 0.8em;
  }
  section.socials {
    font-size: 0.8em;
  }
  section.donate {
    font-size: 0.8em;
  }
  section.donate div.container div.donate-text p {
    font-size: 1.65em;
  }
  section.donate div.container {
    padding-top: 2vh;
  }
  section.donate div.container div.donate-text h1 {
    font-size: 3.3em;
  }
  section.donate div.container div.donate-text p {
    margin-top: .2em;
  }
  footer.signature {
    font-size: 1em;
  }
}

@media only screen and (min-width: 1080px) {
  div.container {
    width: 1080px;
    margin: 0 auto;
  }
  section.mod {
    font-size: 0.8em;
  }
  section.mod div.container {
    padding: 4vh 0;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    height: calc(92vh - 92px);
  }
  section.socials div.container {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100vw;
  }
  section.socials div.container {
    width: 1080px;
    margin: 0 auto;
  }
}

@media only screen and (min-width: calc(1080px/0.69)) {
  div.container {
    width: 69%;
    margin: 0 auto;
  }
  section.socials div.container {
    width: 69%;
    margin: 0 auto;
  }
  section.compete div.container div.compete-bottom a {
    margin-right: 0;
  }
}
/*# sourceMappingURL=index.css.map */